<md-sidenav-container class="container" fullscreen>
  <md-sidenav #sidenav class="sidenav" disableClose="false" opened="true">
    <form>
      <div>
        <button md-button class="sidenav-close-button" (click)="sidenav.close()"><img
          src="assets/ic_close_black_24px.svg"></button>
      </div>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="dim" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="dim" id="dim" placeholder="Size">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="angleDeg" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="angle" id="angle" placeholder="Angle">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="iterations" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="iterations" id="iterations" placeholder="Iterations">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="strokeWidth" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="strokeWidth" id="strokeWidth" placeholder="Stroke Width">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="canvasHeight" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="canvasHeight" id="canvasHeight" placeholder="Canvas Height">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="canvasWidth" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="canvasWidth" id="canvasWidth" placeholder="Canvas Width">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="morphX" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="morphX" id="morphX" placeholder="Morph X">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="morphY" (ngModelChange)="valueChange($event)" type="number"
                     class="form-control" name="morphY" id="morphY" placeholder="Morph Y">
            </md-input-container>
          </td>
        </tr>
      </table>
      <md-slider [value]="offsetXSlide"></md-slider>
    </form>
  </md-sidenav>

  <div class="content">
    <md-toolbar>
      <button md-button class="toolbar-menu-button" (click)="sidenav.open()"><img
        src="assets/ic_menu_black_24px.svg"></button>
    </md-toolbar>
    <app-pythagoras class="canvas" [svgHeight]="canvasHeight" [svgWidth]="canvasWidth"
                    [iteration]="iterations" [angleRad]="angleRad"
                    [strokeWidth]="strokeWidth" [llCorner]="llCorner" [lrCorner]="lrCorner" [morphX]="morphX"
                    [morphY]="morphY"></app-pythagoras>
  </div>

</md-sidenav-container>
