<!--<svg [attr.height]="svgHeight" [attr.width]="svgWidth">-->
<svg [attr.height]="svgHeight" [attr.width]="svgWidth">
  <!-- <rect [attr.height]="svgHeight" [attr.width]="svgWidth" [attr.fill]="svgFill"/> -->
  <polygon [attr.points]="pointsRect" [attr.fill]="fill"
           [attr.stroke]="stroke" [attr.stroke-width]="strokeWidth"/>
  <polygon [attr.points]="pointsTriangle" [attr.fill]="fill"
           [attr.stroke]="stroke" [attr.stroke-width]="strokeWidth"/>
</svg>

<app-pythagoras class="canvas" [iteration]="iteration-1" [strokeWidth]="strokeWidth" [svgHeight]="svgHeight"
                [svgWidth]="svgWidth" [llCorner]="ulCorner" [lrCorner]="topCorner" [offsetX]="offsetX"
                [offsetY]="offsetY" *ngIf="iteration > 0"></app-pythagoras>

<app-pythagoras class="canvas" [iteration]="iteration-1" [strokeWidth]="strokeWidth" [svgHeight]="svgHeight"
                [svgWidth]="svgWidth" [llCorner]="topCorner" [lrCorner]="urCorner" [offsetX]="offsetX"
                [offsetY]="offsetY" *ngIf="iteration > 0"></app-pythagoras>
