$lines: 6;
$iterations: 10;

$delayPerLine: 1.2s;
$delayPerIteration: $lines * $delayPerLine;

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

.line {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: offset 8s linear forwards;
}

@for $l from 1 through $lines {
  @for $d from 1 through $iterations {
    .line-#{$l} {
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      animation: offset 10s linear forwards;
      animation-delay: ($d * $delayPerIteration)+  ($l * $delayPerLine);
    }
  }
}
